.filterContainer {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

select,
button {
  padding: 0.4rem 0.6rem;
  border-radius: 0.3rem;
  border: 1px solid #d1d5db;
  font-size: 1rem;
}

button {
  background-color: #f87171;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #ff7675;
}
